{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="body">
        <div class="content">
            <img class="active page-image" src="{% static 'images/flower_with_bee.jpeg'%}" alt-text="There is a yellow flower to left that is fully in foucs. in the upper right third there is a cstle in the background.">
            <div class="introduction">
                <h2>Hi, I am Abby Demarest!</h2>
                <p>I am new front-end developer and have a background in art, program coordination and human services. I love different cultures and I am passionate about how life stories connect people across cultures and backgrounds to break down barriers and stereotypes. I have a balance beam in my room, I play Pokemon Go (yes, it is still a thing) and would rather be in nature taking pictures than anywhere else.
                </p>
            </div>
        </div>
        {% endblock %}
        <footer>
                <a class="email" href="mailto:abbyjoydemarest@gmail.com">Contact Me!</a>
    </footer>
    </body>