{% extends 'base.html' %}
{% block content %}
<div class="projects">
    <div class="project-box">
        <img src="store-interior.jpg" alt-text="This is Abby when she was baby">
        <div class="project">
            <h3 class="project-header">GenArt</h3>
            <p>Before we delved into the world of JavaScript one of our group assignments was to develop an app that gave people the opportunity to post links to websites related to a specific area of interest. My project partner and I both love data driven and generative art, so GenArt was born. This projct is important to me because it was our first group project. We did a lot of pair programming, which was a new concept to me, but I found it to be extremly valuable and impactful.</p>
            <ul class="project-access">
                <li class="access-option"> <a class="live" href="https://calm-cove-68301.herokuapp.com/core/">Live</a></li>
                <li class="access-option"> <a class="live" href="https://github.com/abbyjoydemarest/freeshelf">GitHub</a></li>
            </ul>
        </div>
    </div>
    <div class="project-box">
        <img src="store-interior.jpg" alt-text="This is Abby when she was baby">
        <div class="project">
            <h3 class="project-header">Calculator</h3> <br>
            <p> The calculator project was one of my most favorite individual projects to do at Momentum Learning, Inc. This was our first stab at JavaScript and I liked being able to use JavaScript to enhance the user's experience. When the user clicks on a number on the calculator the background turns a shade of blue that correlates to that number (ex: 0 is the lightest blue, 9 is the darkest blue). </p>
            <ul class="project-access">
                <li class="access-option"> <a class="live" href="https://github.com/abbyjoydemarest/w7d2--calculator">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}