{% extends 'base.html' %}
{% block content %}
{%load static%}
<div class="projects">
    <div class="project-box">
        <img class="logo" src="{% static 'images/GenArt_logo.png'%}" alt-text="This is the logo for GenArt. The background is dark gray on the outsides and becomes a little bit lighter gray as it goes towards the center. The letters G E N A R T are used to make up to the logo and each letter is divided into segments of varying bright colors. On the website the color changes automatically every 5 secs in length of about a half inch. The colors rotate between pink, purple, orange, yellow, and blue.">
        <div class="project">
            <h3 class="project-header">GenArt</h3>
            <ul class="project-access">
                <li class="access-option"> <a class="live" href="https://github.com/abbyjoydemarest/freeshelf">GitHub</a></li>
                ||
                <li class="access-option"> <a class="live" href="https://calm-cove-68301.herokuapp.com/core/">Live</a></li> 
            </ul>
            <p>Before we delved into the world of JavaScript one of our group assignments was to develop an app that gave people the opportunity to post links to websites related to a specific area of interest. My project partner and I both love data driven and generative art, so GenArt was born. This project is important to me because it was our first group project. We did a lot of pair programming, which was a new concept to me, but I found it to be extremly valuable and impactful.
            <br> <br>
            We also got creative in finding a way to make our generative art with CSS and animation. We used strokes (for the different colors), animation, and animation delay in order to get all the different sections of the word GenArt to rotate smoothly. It was amazing to learn how to use aspects of CSS in a new way. 
            </p>
        </div>
    </div>
    <div class="project-box">
        <img src="store-interior.jpg" alt-text="This is Abby when she was baby">
        <div class="project">
            <h3 class="project-header">Calculator</h3>
            <ul class="project-access">
                <li class="access-option"> <a class="live" href="https://github.com/abbyjoydemarest/w7d2--calculator">GitHub</a></li>
            </ul>
            <p> The calculator project was one of my most favorite individual projects to do at Momentum Learning, Inc. This was our first stab at JavaScript and I liked being able to use JavaScript to enhance the user's experience. When the user clicks on a number on the calculator the background turns a shade of blue that correlates to that number (ex: 0 is the lightest blue, 9 is the darkest blue). </p>
        </div>
    </div>
    <div class="project-box">
            <img class="logo" id="logo-tech" src="{% static 'images/tech_Shuffle_logo.png'%}"  alt-text="This is Abby when she was baby">
            <div class="project">
                <h3 class="project-header">techShuffle</h3>
                <ul class="project-access">
                    <li class="access-option"> <a class="live" href="https://github.com/momentum-cohort-2019-02/w8-group-assignment-2-team-shuffle">GitHub</a></li> ||
                    <li class="access-option"> <a class="live" href="https://serene-tor-34774.herokuapp.com/core/">Live</a></li>
                </ul>
                <p> techShuffle was my first coding group project. I learned a lot about project management and utilizing JavaScript with other programming languages to enhance the code. <br> <br>For this project I did some user research to figure out our project's design. I asked the other students in our cohort what their flash cards looked like when they were a kid in school. From physical size, to color, to even what people used to hold their flash cards together with. From all of this information I came up with the idea of making our logo look like an index card and having a green (most common color that people remembered) rubberband to hold it together. <br><br>
                I enjoyed using CSS and HTML together to come up with a way to show the flashcards as index cards on the page as well. It took a lot of creativity, and I was happy with how the flash cards turned out in the end. <br><br> As a group we were not extremely well versed with JavaScript at this point and were not able to get the show and hide functions or ability to flip the cards. We instead decided to use font coloring in CSS to highlight the answer to the question when a person hovered over it. This was a creative solution to a technical problem, that we know now how to do with JavaScript. </p>
            </div>
        </div>
</div>
{% endblock %}